.meeting {
  &-view-container {
    //@media(max-width: 767px) {
    //  width: 95%;
    //  height: 80%;
    //}

    background: white;
    border: 1px solid #D7DADE;
    border-radius: 5px;
    margin-top: 3vw;
    width: 50vw;
    height: 80vh;
    padding: 2rem;
    overflow: hidden;

    &__title {
      //@media(max-width: 767px) {
      //  font-size: 2rem;
      //}

      font-size: 1.5vw;
      text-align: center;
      font-weight: normal;
    }
  }

  &__logo {
    width: 100vw;
    border-bottom: 0.3vw solid #00A7D1;

    &__image {
      width: 7%;
      padding-bottom: 0.3vw;
    }
  }
}
