:host {
  display: flex;
  height: calc(100% - 60px);
}

.meeting-view {
  &__video {
    @media(max-width: 767px) {
      width: 70%;
    }

    width: 50%;
    height: 100%;
  }

  &__transcripts {
    padding: 1rem;
    overflow: hidden auto;
  }
}
