<div class="meeting-view" fxLayout="column" fxLayoutGap="2rem">
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="videoIsValid;else videoNoValid">
    <video [src]="meetingUrl" controls class="meeting-view__video"
           (error)="onVideoHasError($event)"
           #videoMeeting
    ></video>
  </div>

  <div *ngIf="transcriptData?.length && videoIsValid" class="meeting-view__transcripts" fxLayout="column"
       fxLayoutGap="1rem">
    <ng-container *ngFor="let transcript of activeTranscripts$ | async">
      <app-transcript [transcript]="transcript"></app-transcript>
    </ng-container>
  </div>
</div>

<ng-template #videoNoValid>
  <span>Video Not Valid</span>
</ng-template>
