:host {
  display: flex;
  height: calc(100% - 60px);
}

.meeting-view {
  &__transcript {
    padding: 0 1rem;
    overflow: hidden auto;

    &__speaker {
      font-size: 12px;
      color: #333333;
    }

    &__snippet {
      &__color {
        width: 2.8rem;
        height: 2.8rem;
        background: rgba(238, 110, 255, 0.10);
        border: 1px solid #EE6EFF;
        border-radius: 10rem;
      }

      &__text {
        background: #F7F7F7;
        border-radius: 10rem;
        padding: 4px 6px;
        width: max-content;
        word-break: break-word;

        span {
          font-size: 15px;
          color: #333333;
        }
      }
    }
  }
}
