<div class="meeting-view" fxLayout="column" fxLayoutGap="2rem">
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="videoIsValid;else videoNoValid">
    <video [src]="meetingUrl" controls class="meeting-view__video"
           (error)="onVideoHasError($event)"
           #videoMeeting
    ></video>
  </div>

  <ng-container *ngIf="_transcriptData?.length && videoIsValid">
    <div class="meeting-view__transcript" fxLayout="column" fxLayoutGap="1rem" #meetingView></div>
  </ng-container>
</div>

<ng-template #videoNoValid>
  <span>Video Not Valid</span>
</ng-template>
